
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignalR</title>
    <!--Script references. -->
    <!--Reference the jQuery library. -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
</head>
<body>
<div>
</div>
<script>
    $(function() {
        var messager = S.connection.messager;

        function init() {
            messager.addToGroup("sourcing");
            return messager.getAllMessages().done(function(message) {
                alert(message);
            });
        }
    });
</script>
</body>
</html>
