<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Services.HelloService" behaviorConfiguration="behaviorHelloService">
        <!--设置绑定协议为TCP协议-->
        <endpoint address="" bindingConfiguration="tcpHelloService" binding="netTcpBinding" contract="Contracts.IHelloServices"></endpoint>
        <!--源数据访问节点-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
    </services>
    <bindings>
      <netTcpBinding >
        <!--允许端口共享，使其他基于TCP绑定的WCF服务也能使用808端口-->
        <binding name="tcpHelloService" portSharingEnabled="true">
          <!--取消安全验证-->
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="behaviorHelloService">
          <!--允许通过http协议获取源数据-->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--启用多站点绑定，方便使用IP地址或者域名访问-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <!--启用目录浏览方便使用-->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>